<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Register.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="row">
    <div class="col-md-7" style="margin:0px auto">
        <div style="margin: 5px;text-align: right;">
            <img width="200" height="25" src="~/images/header_logo.jpg" />
        </div>

        <div style="width:100%;background:#D1D2D4; border-radius:10px; min-height:500px; padding:1px">
            <div style="width:50%; float:left">
                    <h4 style="padding:20px">JL Audio Registration</h4>
            </div>
            
                @RenderBody()
        </div>
    </div>
    </div>
    <footer class="border-top footer text-muted  mt-3">
        <div class="container" style="text-align:center">
            <p style="text-align:center; font-size:10px">If you require assistance with the registration process, please contact JL Audio Customer Service: JL Audio, Inc, 10369 North Commerce Pkwy., Miramar, FL 33025, Phone: 1-888-JLAUDIO 1-888-552-8346 Fax: 954-443-1111</p>

            <p style="text-align:center; font-size:10px">Copyright © 2017, JL Audio, Inc. - All Rights Reserved. Copyright & Trademark Notice I Privacy Policy</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
