
@{
    ViewData["Title"] = "Default";
}


<div class="row">
   
    
    <div class="col-md-9">
        <div style="margin: 5px;text-align: right;">
            <img width="200" height="25" src="~/images/header_logo.jpg" />
        </div>
       
        <div style="width:100%;background:#C2C3C9; border-radius:10px; min-height:365px; padding:1px">
            <div class="col-md-11 mt-3" style="background:#D1D1D3; border-radius:10px; min-height:300px; margin-left:24px">
        <h4 style="padding:5px">JL Audio Registration</h4>
        <p style="width: 71%;text-align: justify; margin: 0px auto; padding-top: 30px;">
            Register select JL Audio products to receive exclusive product updates and other important product information.
        </p>
        <br />
                <a class="btn btn-secondary" style="margin-left: 155px;background: #fff;color: #000; height: 28px;line-height:10px;" asp-action="Index">
                    Begin Registration
                </a><br />              
        <img style="margin: 0px 0px 0px 160px;" width="150" height="120" src="~/images/w7_ae_flt_registration.jpg" />
    </div>
        </div>
   
        </div>
</div>

