@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_landing.cshtml";
}



<p style="width: 71%;text-align: justify; margin: 0px auto; padding-top: 30px;">
    Register select JL Audio products to receive exclusive product updates and other important product information.
</p>
<br />
<div style="width:50%; margin:0px auto; text-align:center">
    <a class="btn btn-secondary" style="background: #fff;color: #000; height: 28px;line-height:10px;" asp-action="Index">
        Begin Registration
    </a>
    <br />
    <img style="margin: 0px 0px 0px 50px;" src="~/images/w7_ae_flt_registration.jpg" />
</div>



